
@{
    ViewBag.Title = "Máy In";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .testimonial-group > .row {
            overflow-x: auto;
            white-space: nowrap;
        }

        #dataTable_filter input {
            display: none;
        }

        .content-wrapper {
            margin: 0;
        }

        #dataTable_filter input {
            display: none;
        }

        .no-footer {
            border-bottom: none;
        }

        .is-invalid {
            color: #E84C3D;
            margin-top: 5px;
        }

        .dt-buttons {
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 8px;
        }

        .card-tools {
            position: absolute;
            right: 10px;
            top: 11px;
            z-index: 999;
        }


        .overflow {
            text-overflow: ellipsis;
            max-width: 230px;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Danh Mục Máy In</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row dt1">
            <div class="col-12">
                <div class="card elevation-2" style="overflow-x: scroll; overflow-y: hidden; ">
                    <div class="card-tools">
                        <div class="input-group input-group-sm row">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Tìm ..." id="Filter">

                            <div class="input-group-append mr-3">
                                <button type="submit" class="btn btn-default" id="search_btn">
                                    <i class="fas fa-search text-primary"></i>
                                </button>
                            </div>

                            <div class="input-group-append mr-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-sh" id="THEM">
                                    <i class="fas fa-plus pr-2"></i>Thêm Mới
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-nowrap table-bordered p-0">

                        <table class="table table-hover text-nowrap table-bordered horizontal-scrollable" id="dataTable">
                            <thead class="bg-primary">
                                <tr>
                                    <th width="5%">STT</th>
                                    <th>Tên Máy In</th>
                                    <th>Mã Máy In</th>
                                    <th>Ghi Chú</th>
                                    <th width="5%">Chức Năng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix" style="height: 50px;">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-sh">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    @using (Ajax.BeginForm("Create", "DM_MayIn", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FnSuccess", OnFailure = "Failure", OnBegin = "FnBegin" }, new { @class = "DM_Create form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm Danh Mục Máy In</h4>
                            <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputid" class="col-sm-3 col-form-label">Tên Máy In<span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="TenMayIn" name="TenMayIn" placeholder="nhập tên máy in">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputid" class="col-sm-3 col-form-label">Mã Máy In<span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="MaMayIn" name="MaMayIn" placeholder="Nhập mã máy in" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputid" class="col-sm-3 col-form-label">Ghi Chú</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" id="GhiChu" name="GhiChu" placeholder="Nhập ghi chú" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 110px">
                                        Đóng
                                    </button>
                                    <button type="submit" class="btn btn-primary" style="width: 110px; position: relative;" id="btn_Create">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_create d-none">
                                            <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                            </circle>
                                        </svg>
                                        Lưu Mới
                                    </button>
                                </div>
                            </div>
                        </div>


                    }

                </div>
            </div>
        </div>
        <div class="modal fade" id="add-sh1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cập Nhật Danh Mục Máy in</h4>
                        <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Ajax.BeginForm("Edit", "DM_MayIn", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FnSuccess_Edit", OnFailure = "Failure_Edit", OnBegin = "FnBegin_Edit" }, new { @class = "DM_Edt form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputid" class="col-sm-3 col-form-label">Tên Máy In<span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="TenMayIn_edt" name="TenMayIn" placeholder="nhập tên máy in">
                                    <input type="text" class="form-control" id="ID_MayIn_edt" name="ID_MayIn" hidden>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputid" class="col-sm-3 col-form-label">Mã Máy In<span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="MaMayIn_edt" name="MaMayIn" placeholder="Nhập mã máy in">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputid" class="col-sm-3 col-form-label">Ghi Chú</label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" id="GhiChu_edt" name="GhiChu" placeholder="Nhập ghi chú" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 110px">
                                    Đóng
                                </button>
                                <button type="submit" class="btn btn-primary" style="position: relative; width: 110px;" id="btn_Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_edit d-none">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                    Cập nhật
                                </button>
                            </div>

                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var dtt;

    var SUA = false;
    var XOA = false;
    var XEM = false;
    var THEM = false;
    var XUAT = false;

    $("#Filter").keyup(function (e) {
        dtt.columns(0).search($("#Filter").val());
        dtt.draw();
    });

    //create function
    function FnBegin() {
        $('#btn_Create').attr("disabled", true)
        $('.loading_create').removeClass('d-none');
    }

    function FnSuccess(data) {
        $('.loading_create').addClass('d-none');
        $('.closeform').click();
        dtt.draw()
        Swal.fire({
            icon: 'success',
            title: 'Thành Công',
            text: `Máy in đã được thêm thành công`,
            timer: 2000,
            showConfirmButton: false,
        })
        $('#btn_Create').attr("disabled", false)
    }

    function Failure(data) {
        $('.loading_create').addClass('d-none');
        Swal.fire({
            icon: 'error',
            title: 'Có lỗi xảy ra',
            text: 'Thêm mới Máy in không thành công',
            timer: 2000,
            showConfirmButton: false,
        })
    }

    //edit function
    function Edit(obj) {
        var ele = $(obj);
        var ID = ele.data("model-id");
        var url = `/DM_MayIn/GetSuaMayIn`
        $.get(url, { id: ID }, (data) => {
            console.log(data.GhuChu)
            $('#ID_MayIn_edt').val(data.ID_MayIn)
            $('#TenMayIn_edt').val(data.TenMayIn)
            $('#MaMayIn_edt').val(data.MaMayIn)
            $("#GhiChu_edt").val(data.GhiChu)
        })
    };

    function FnBegin_Edit() {
        $('#btn_Edit').attr("disabled", true)
        $('.loading_edit').removeClass('d-none');
    }

    function FnSuccess_Edit(data) {
        if (data != false) {
            $('.loading_edit').addClass('d-none');
            $('.closeform').click();
            dtt.draw()
            Swal.fire({
                icon: 'success',
                title: 'Thành Công',
                text: `Máy in đã được cập nhật thành công`,
                timer: 2000,
                showConfirmButton: false,
            })
        } else {
            $('.loading_edit').addClass('d-none');
            Swal.fire({
                icon: 'error',
                title: 'Có lỗi xảy ra',
                text: 'Cập nhật Máy in không thành công',
                timer: 2000,
                showConfirmButton: false,
            })
        }
        $('#btn_Edit').attr("disabled", false)
    }

    function Failure_Edit(data) {
        $('.loading_edit').addClass('d-none');
        Swal.fire({
            icon: 'error',
            title: 'Có lỗi xảy ra',
            text: 'Cập nhật Máy in không thành công',
            timer: 2000,
            showConfirmButton: false,
        })
    }

    //delete function
    function Delete(obj) {
        var ele = $(obj);
        var ID = ele.data("model-id");
        var url = `/DM_MayIn/Delete`
        swal.fire({
            title: 'Bạn có chắc?',
            text: "Nếu xóa sẽ không thể khôi phục!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Có, Hãy xóa!',
            cancelButtonText: 'Không, Quay lại!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.post(url, { id: ID })
                    .done(function (data) {
                        dtt.draw()
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành Công',
                            text: `Máy in đã được xóa`,
                            timer: 2000,
                            showConfirmButton: false,
                        })
                    })
                    .fail(function (data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Không thành công',
                            text: `Xảy ra lỗi`,
                            timer: 2000,
                            showConfirmButton: false,
                        })
                    });
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {

            }
        })
    }

   

    //loading datatables
    function loadDataTable() {
        dtt = $("#dataTable").DataTable({
            "lengthChange": false,
            "info": false,
            "searching": true,
            "language": {
                "search": "",
                "info": "Tổng số _TOTAL_ hàng",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate": {
                    "next": "»",
                    "previous": "«"
                },
                "processing": `Đang tải dữ liệu`,
                searchPlaceholder: "Tìm...",
                zeroRecords: "Không tìm thấy kết quả",

            },
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<i class="fa fa-file-excel"></i>',
                    extend: 'excel',
                    className: 'btn btn-outline-primary btn-sm mt-2 ml-3'
                },
                {
                    text: '<i class="fa fa-file-pdf"></i>',
                    extend: 'pdf',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                },
                {
                    text: '<i class="fa fa-print"></i>',
                    extend: 'print',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                }
            ],

            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/DM_MayIn/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "TenMayIn" },
                { "data": "TenMayIn" },
                { "data": "MaMayIn" },
                { "data": "GhiChu" },
                {
                    "data": "ID_MayIn", "render": function (data, type, row) {

                        var row_sua = ``
                        var row_xoa = ``
                        if (SUA) {
                            row_sua = `<span class="dropdown-item" onclick="Edit(this)" data-model-id="${data}" data-toggle="modal" data-target="#add-sh1">
                                            Cập Nhật
                                        </span>`
                        }
                        if (XOA) {
                            row_xoa = `<span class="dropdown-item" data-model-id="${data}" onclick="Delete(this)">
                                            Xóa Dữ Liệu
                                        </span>`
                        }

                        if (row_sua != `` || row_xoa != ``) {
                            return `<div class="dropleft">
                                      <button class="btn btn-outline-info btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 4px 13px;">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       ${row_sua}${row_xoa}
                                      </div>`
                        }
                        else return `<div class="dropleft">
                                      <button class="btn btn-outline-info btn-sm disabled" disabled type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 4px 13px;">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       ${row_sua}${row_xoa}
                                      </div>`
                    }
                },
            ]   
        });

        dtt.on('draw.dt', function () {
            var info = dtt.page.info();
            dtt.column(0, { search: 'applied', order: 'applied', page: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + info.start;
            });
        });
        if (!THEM) {
            $('#THEM').remove()
        }
        if (!XUAT) {
            dtt.buttons().disable();
        }
    }

    async function CheckQuyen() {
        await $.get("/HT_ChiTietPhanQuyen/GetQuyen", { MenuCode: "DM_MayIn" }, (data) => {
            if (data.includes("XEM")) {
                XEM = true;
            }
            if (data.includes("SUA")) {
                SUA = true;
            }
            if (data.includes("XOA")) {
                XOA = true;
            }
            if (data.includes("THEM")) {
                THEM = true;
            }
            if (data.includes("XUAT")) {
                XUAT = true;
            }
        })
    }
    $(document).ready(async function () {
        
        await CheckQuyen()
        loadDataTable();
        var form = $(".DM_Create").validate({
            onfocusout: function (element) {
                $(element).valid();
            },
            invalidHandler: function (form, validator) {
                validator.focusInvalid();
                Swal.fire({
                    icon: 'error',
                    title: 'Xuất hiện lỗi',
                    text: `Vui lòng kiểm tra thông báo lỗi`,
                    timer: 2000,
                    showConfirmButton: false
                })

            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            rules: {
                TenMayIn: {
                    required: true,
                },
                MaMayIn: {
                    required: true,
                },

            },
            messages: {
                TenMayIn: {
                    required: "Tên Máy in không được để trống",
                },
                MaMayIn: {
                    required: "Máy in key không được để trống",
                },

            }
        });
        var form1 = $(".DM_Edt").validate({
            onfocusout: function (element) {
                $(element).valid();
            },
            invalidHandler: function (form, validator) {
                validator.focusInvalid();
                Swal.fire({
                    icon: 'error',
                    title: 'Xuất hiện lỗi',
                    text: `Vui lòng kiểm tra thông báo lỗi`,
                    timer: 2000,
                    showConfirmButton: false
                })

            },
            errorClass: "is-invalid",
            validClass: "is-valid",
            rules: {
                TenMayIn: {
                    required: true,
                },
                MaMayIn: {
                    required: true,
                },

            },
            messages: {
                TenMayIn: {
                    required: "Tên Máy in không được để trống",
                },
                MaMayIn: {
                    required: "Máy in key không được để trống",
                },

            }
        });
        $(".closeform").click(function () {
            form.resetForm()
            form1.resetForm()
        })
    })


</script>
